body {
    width: 500;
    border: 20px solid #000000;
    padding: 20px;
    margin: 20px;

    background-image: url("Worship vector 6.png");
    background-image: -webkit-image-set(
        url("Worship vector 6.png") 1x,
        url("Worship vector 6.png") 2x);
    background-image: image-set(
        url("Worship vector 6.png") 1x,
        url("Worship vector 6.png") 2x);
    background-position: center;
    background-size: cover;
    
    opacity: 1;
}

#werdereich,
.Ueberschrift { 
    text-align: center;
    color: rgba(255, 0, 0, 1);

    font-family: "Lucida Console", Courier, monospace;
}

p,
h1 {
    text-align: center;
    color: black;
}

footer {
    text-align: right;
}

p#einsatz {
    text-align: center;
    color: black;
}

[href]:hover {
    font-size: 2em;
}

footer:first-line{
    font-size: 0.5em;
}

#jetzt::first-letter{
    background-color: red;
}

