body {
    width: 700;
    border: 20px solid #000000;
    padding: 20px;
    margin: 20px;

    background-image:  url("Worship vector 6.png");
    background-position: center;
    background-size: 1500px 1500px;

    opacity: 1;
}

.ueberschrift { 
    text-align: center;
    color: rgba(255, 0, 0, 1);
}

p,
h1 
{
    text-align: center;
    color: black;
}

footer {
    text-align: right;
}


#bla{
    text-align: center;
    color: black;
}