body {
    width: 700;
    border: 20px yellow;
    padding: 0px;
    margin: 20px;
    
    background-image:  url("Worship vector 6.png");
    background-position: center;
}

header { 
    text-align: center;
    color: black;
}

h1 {
    text-align: center;
    color: black;
}

p {
    text-align: center;
    color: black;
}

footer {
    text-align: right;
    color: black;
}